/* .baslik {
    font-size: 50px;
  background-color: #282c34;
  color:white;
  letter-spacing: 2px;
  padding: 10px;
};

.main {
    display: flex;
    justify-content: space-between;
}

.img {
    width: 50%;
  border-radius: 20px;
  background-size: cover;
  border:2px solid black ;
}

.paragraf {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    text-align: center;
    border-radius:20px;
    padding: 5px;
}

.aciklama {
    letter-spacing: 2px;
}

.copyright {
    border: 5px solid grey;
    color:black;
    font-weight: bold;
} */

.imgNasa {
    max-width: 10rem;
    height: auto;
}

.navlar {
    display: flex;
    justify-content: center;
    gap: 3rem;
    text-align: center;
    margin-right: 3rem;
    font-size: 1.7rem;

  }

  .icons {
    gap: 7rem;
    font-size: 2rem;
    margin-left: 10rem;
  }

  .footerNav {
    display: flex;
    justify-content: center;
    gap: 3rem;
    text-align: center;
    margin-right: 3rem;
    font-size: 1.7rem;
  }
